<section class="content">
  <div class="block-header">
    <div class="row">
      <div class="col-lg-7 col-md-6 col-sm-12">
        <h2>Registrar Resultados
           
        </h2>
       

      </div>
      <div class="col-lg-5 col-md-6 col-sm-12">
        <ul class="breadcrumb float-md-right">
          <li class="breadcrumb-item"><a routerLink="/dashboard/main"><i class="zmdi zmdi-home"></i> </a></li>
          <li class="breadcrumb-item"><a href="javascript:void(0);">resultados</a></li>
          <li class="breadcrumb-item active">ver-actualizacion</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container-fluid">
 
    <!-- Horizontal Layout -->
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <ul class="header-dropdown">
              <li class="dropdown"> <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="zmdi zmdi-more"></i> </a>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li><a href="javascript:void(0);">Action</a></li>
                  <li><a href="javascript:void(0);">Another action</a></li>
                  <li><a href="javascript:void(0);">Something else</a></li>
                </ul>
              </li>
              <li class="remove">
                <a role="button" class="boxs-close"><i class="zmdi zmdi-close"></i></a>
              </li>
            </ul>
          </div>
          <div class="body">
           
    
<div class="row clearfix">
  <div class="col-lg-2 col-md-2 col-sm-2 form-control-label">
    <label for="login">Exámenes</label>
  </div>
    <div class="col-lg-4 col-md-4 col-sm-4">
   

  <ng-container >
    <ng-container >
      <input class="form-control" disabled [(ngModel)]="examenSolicitado.precio_examen.examen.nombre">
      
    </ng-container>
  </ng-container>
      
         


        <br>
<div></div>
      
  </div>
</div>

<div class="body">
    <div class="table-responsive">
<table class="table table-bordered table-striped table-hover js-basic-example dataTable" >
                      <thead>
                        <tr>
                            <th>Examen</th>
                            
                            <th>Resultado</th>
                            <th>Unidades</th>
                            <th>Valor de referencia</th>
                          
                        </tr>
                      </thead>
                    
                      <tbody>

                          <ng-container *ngIf="examenSolicitado.precio_examen.examen.num_subexamenes == 0">    
                              <tr>                 
                                <td >{{examenSolicitado.precio_examen.examen.nombre}} </td>
                                <td>                   
                                    <div class="row clearfix">                
                                        <div class="col-lg-10 col-md-10 col-sm-8">
                                          <div class="form-group">
                                             <!--
                                                <input type="text"  list="valores_examen" [(ngModel)]="solicitudSinResultado.examenes_solicitados[indice].resultados_examen.valores[0]" name="resultado" [ngClass]="borde" class="form-control" (ngModelChange)="kambio_valor(solicitudSinResultado.examenes_solicitados[indice].precio_examen.examen.cod_examen, solicitudSinResultado.examenes_solicitados[indice].resultados_examen.valores[0].valor)">
  <datalist id="valores_examen">
        <option *ngFor="let c of examenesfiltradosporcaracter" [value]="c" >{{c.valor}}</option>
      </dat                                        <p-autoComplete (ngModelChange)="k(s.cod_examen, i)" [(ngModel)]="form.resultados[i]" name="resultados[i]" class="form-control" [suggestions]="filteredCountriesSingle" (completeMethod)="buscaValorExamen($event, s.cod_examen, i)" field="valor" [size]="30" placeholder="Countries" [minLength]="1"></p-autoComplete>-->
      <input  disabled type="text"  list="valores_examen" [(ngModel)]="examenSolicitado.resultados_examen.valores[0].valor" name="resultado" class="form-control" (ngModelChange)="kambio_valor(examenSolicitado.precio_examen.examen.cod_examen, examenSolicitado.resultados_examen.valores[0].valor)">
      <datalist id="valores_examen">
        <option *ngFor="let c of examenesfiltradosporcaracter" [value]="c.valor" ></option>
      </datalist>                
                                          </div>
                                        </div>
                                      </div>
                                </td>
                                  <td class="text-center">{{examenSolicitado.precio_examen.examen.unidades}}
                                   </td>
                             <td class="text-center">   
                               
                              <a   data-toggle="modal" data-target="#addevent"  class=" waves-effect waves-float waves-green"></a> 
                                   <span *ngFor="let v of examenSolicitado.precio_examen.examen.valores_referencia">
                                  {{v.tipo_persona}} {{v.valor_inicial}}-{{v.valor_final}} .
                                </span>
                                </td>
      
                                    </tr>
                              </ng-container>
       <ng-container *ngIf="examenSolicitado.precio_examen.examen.num_subexamenes !=0">                    
   <ng-container *ngFor="let s of examenSolicitado.precio_examen.examen.subexamenes; let i=index">
                            
                          <ng-container *ngIf="s.num_subexamenes == 0">    
                        <tr>                 
                          <td >{{s.nombre}}</td>
                          <td>                   
                              <div class="row clearfix">                
                                 <div class="col-lg-10 col-md-10 col-sm-8">
                                    <div class="form-group">
                                       <!-- <p-autoComplete (ngModelChange)="k(s.cod_examen, i)" [(ngModel)]="form.resultados[i]" name="resultados[i]" class="form-control" [suggestions]="filteredCountriesSingle" (completeMethod)="buscaValorExamen($event, s.cod_examen, i)" field="valor" [size]="30" placeholder="Countries" [minLength]="1"></p-autoComplete>-->
<input disabled type="text"  list="valores_examen" [(ngModel)]="examenSolicitado.resultados_examen.resultados_examenes[i].valores[0].valor" name="examenSolicitado.resultados_examen.resultados_examenes[i].cod_examen"  class="form-control" (ngModelChange)="kambio_valores(s.cod_examen, examenSolicitado.resultados_examen.resultados_examenes[i].valores[0].valor,i)">
<datalist id="valores_examen">
  <option *ngFor="let c of examenesfiltradosporcaracter" [value]="c.valor" ></option>
</datalist>                
                                    </div>
                                  </div>
                                </div>
                          </td>
                            <td class="text-center">{{s.unidades}}
                             </td>
                             
                       <td class="text-center">   
                         
                        <a   data-toggle="modal" data-target="#addevent"  class=" waves-effect waves-float waves-green"></a> 
                             <span *ngFor="let v of s.valores_referencia">
                            {{v.tipo_persona}} {{v.valor_inicial}}-{{v.valor_final}} .
                          </span>
                          </td>

                              </tr>
                        </ng-container>
         <ng-container  *ngIf="s.num_subexamenes != 0">
           <tr>
             <td><strong>{{s.nombre}}  </strong></td>
             <td>
              <input style="display:none" type="text"  list="valores_examen"  class="form-control" (ngModelChange)="kambio_valor(s.cod_examen, i)">
            
             </td>
             <td></td>
             <td></td>
           </tr>
                             <ng-container *ngFor="let s of s.subexamenes; index as in">
                                <tr>                 
                                    <td >{{s.nombre}} </td>
                                    <td>                   
                                        <div class="row clearfix">                
                                            <div class="col-lg-10 col-md-10 col-sm-8">
                                              <div class="form-group">
                                                 <!-- <p-autoComplete (ngModelChange)="k(s.cod_examen, i)" [(ngModel)]="form.resultados[i]" name="resultados[i]" class="form-control" [suggestions]="filteredCountriesSingle" (completeMethod)="buscaValorExamen($event, s.cod_examen, i)" field="valor" [size]="30" placeholder="Countries" [minLength]="1"></p-autoComplete>-->
          <input disabled type="text"  list="valores_examen" [(ngModel)]="examenSolicitado.resultados_examen.resultados_examenes[i].resultados_examenes[in].valores[0].valor" name="examenSolicitado.resultados_examen.resultados_examenes[i].resultados_examenes[in]" [attr.id]="indice+''+i+''+ in"  class="form-control" (ngModelChange)="kambio_valor(s.cod_examen, examenSolicitado.resultados_examen.resultados_examenes[i].resultados_examenes[in].valores[0].valor)">
         <datalist id="valores_examen">
            <option *ngFor="let c of examenesfiltradosporcaracter" [value]="c.valor" ></option>
          </datalist>                
                                              </div>
                                            </div>
                                          </div>
                                    </td>
                                      <td class="text-center">{{s.unidades}}
                                       </td>
                                 <td class="text-center">   
                                   
                                  <a data-toggle="modal" data-target="#addevent"  class=" waves-effect waves-float waves-green"></a> 
                                       <span *ngFor="let v of s.valores_referencia">
                                      {{v.tipo_persona}} {{v.valor_inicial}}-{{v.valor_final}} .
                                    </span>
                                    </td>
          
                                        </tr>
                             </ng-container>
  
                    
         </ng-container>
  </ng-container>
</ng-container>  
                    </tbody>
                    </table>






                  
                </div>
              </div>
              

              





            



      <div style="margin:20px" class="row">    
<div class="row clearfix col-md-3">
  <div class="col-sm-8 offset-sm-2">
    
  </div>
  <div class="action">
      <button type="button"  id="guarda" (click)="salir()"  class="btn btn-raised btn-secondary btn-round waves-effect"   >Salir</button>
 
    <button type="button"  id="guardas" (click)="guardarresultados()" class="btn btn-raised btn-primary btn-round waves-effect"   >Guardar</button>
  
  </div>
</div>

</div>



            
          </div>
        </div>
      </div>
    </div>
 
  </div>
</section>
  <!-- Horizontal Layout -
  <div class="doNotPrint">
    Header is here.
  </div>
  
  <div>
    all my beautiful print-related material is here.
  </div>
  
  <div class="doNotPrint">
    my footer is here.
    <button (click)="onPrint()">Print</button>
  </div>
  -->