<!-- Navbar -->

    <!-- End Navbar -->
    <div class="page-header">
    <div class="page-header-image" style="background-image:url(assets/images/login.jpg)"></div>
    <div class="container">
        
        <div class="col-md-12 content-center">
            <div class="card-plain">
              
                  
                
                <form  ngNativeValidate   class="needs-validation" #formu="ngForm">
                    
                    <div class="header">
                        <div class="logo-container">
                            <img src="assets/images/logo.svg" alt="">
                        </div>
                        <h5>Log in</h5>
                    </div>
                    
            <p *ngIf="mensaje" class="alert alert-danger" role="alert">{{mensaje}}</p>
                    <div class="content">                                                
                        <div class="input-group input-lg">
                            <input [(ngModel)]="form.login"     name="login" type="password" class="form-control" placeholder="Usuario" required>
                          
                            <span class="input-group-addon">
                                <i class="zmdi zmdi-account-circle"></i>
                            </span>
                        </div>
         
                            <!--  <hr>       <pre> Estado Dirty: {{ form.login.dirty }}</pre>       <pre> Estado Pristine: {{ form.login.pristine }}</pre>       <pre> Estado Touched: {{ form.login.touched }}</pre>       <pre> Estado Valid: {{ form.login.valid }}</pre>       <pre> Estado Invalid: {{ form.login.invalid}}</pre> -->
                        
                            <div class="input-group input-lg">
                                <input type="password"  [(ngModel)]="form.password" name ="password"  placeholder="contraseña" class="form-control" required>
                                <span class="input-group-addon">
                                    <i class="zmdi zmdi-lock"></i>
                                </span>
                            </div>
    
                       
                    </div>
                    <div class="footer text-center">
                        <button type="submit" (click)="validarUser(formu)" class="btn btn-primary btn-round btn-lg btn-block ">INICIAR SESION</button>
                     </div>
                </form>
             

                
                
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
           
            <div class="copyright">
                &copy;{{year}},
                <span>Desarrollado por Jose Flores V.</span>
            </div>
        </div>
        
    </footer>
    </div>