


<section class="content">
    <div class="block-header">
      <div class="row">
        <div class="col-lg-7 col-md-6 col-sm-12">
          <h2>Reporte de orina
            <small></small>
          </h2>
        </div>
        <div class="col-lg-5 col-md-6 col-sm-12">
          <button class="btn btn-white btn-icon btn-round hidden-sm-down float-right m-l-10" type="button">
            <i class="zmdi zmdi-plus"></i>
          </button>
          <ul class="breadcrumb float-md-right">
            <li class="breadcrumb-item"><a routerLink="/dashboard/main"><i class="zmdi zmdi-home"></i> </a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0);">resultados</a></li>
            <li class="breadcrumb-item active">reporte-orina</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row clearfix" >
        <div class="col-lg-12">
          <div class="card"  style="width:267mm">
            <div class="body" style="width:257mm"><div  id="contentToConvert" class="container-fluid" style="width:237mm;margin:10mm;padding:10mm; border-width: 0mm  " >
  
              <div class="container " style="margin:0mm;padding:0mm; border-width:0px;width: 100%">
                  <div  class=""  >
                      <div class="container">
                       
                                     <div class="text-center">
                                    <br>
                                    <br>
                <h3 style="margin:10px"><pre>A N Á L I S I S   D E   O R I N A</pre></h3>
              </div>
              
  
              <div  style="border-bottom : 1px solid black" class="row">
                <div class="col-md-2"><Strong>Fecha  </Strong>        </div>
                  <div class="col-md-4"><strong>:</strong>   {{solicitud.fecha | date: 'dd-MM-yyyy'}}</div>
                
                  <div class="col-md-2"><Strong>Paciente </Strong>        </div>
                  <div class="col-md-4"><strong>:</strong>   {{solicitud.paciente.persona.nombre}} {{solicitud.paciente.persona.ap}} {{solicitud.paciente.persona.am}}</div>

                  <div class="col-md-2"><Strong>Institucion  </Strong>        </div>
                  <div class="col-md-4"><strong>:</strong>    <span *ngIf="solicitud.institucion.cod_institucion !='PAR'"> {{solicitud.institucion.cod_institucion_padre}} </span><span *ngIf="solicitud.institucion.cod_institucion=='PAR'">{{solicitud.institucion.nombre}}</span></div>

                  <div class="col-md-2"><Strong>Edad  </Strong>        </div>
                  <div class="col-md-2"><strong>:</strong>   {{solicitud.paciente.edad}}</div>

                  <div class="col-md-1"><Strong>Sexo  </Strong>        </div>
                  <div class="col-md-1"><strong>:</strong>   {{solicitud.paciente.sexo}}</div>
                
                  <div class="col-md-2"><Strong>Indicaciones del Dr.  </Strong>        </div>
                  <div class="col-md-4"><strong>:</strong>   {{solicitud.doctor_solicitante.nombre}} {{solicitud.doctor_solicitante.ap}} {{solicitud.doctor_solicitante.am}}</div>

                  <div class="col-md-2"><Strong>Procedencia  </Strong>        </div>
                  <div class="col-md-4"><strong>:</strong>   {{solicitud.paciente.procedencia}}</div> 

              
                 <hr>
                
                
                 <br>
            </div>
  
  
              <!-- fi n del encabezado del pdf-->
  
  
  <br>
              
                 
                      <div class="container">
                       
                                     <div class="text-center">
                                     
            
                </div>
              </div>
              <ng-container  *ngFor="let ex of solicitud.examenes_solicitados">
                  <ng-container *ngIf="ex.precio_examen.examen.cod_examen ==48">
              <div class="container">
                  <table class="">
                      <tr >
                        <th class="text-center"> <strong>EXAMEN FISICO</strong></th>
                        <th class="text-center"><strong>EXAMEN QUIMICO</strong></th>
                      </tr>

                      <tr>
                          <ng-container *ngFor="let resultado of ex.resultados_examen.resultados_examenes">
                              <ng-container *ngFor="let resultado of resultado.resultados_examenes">
                                <ng-container *ngIf="resultado.examen.cod_examen===50">
                        <td>  <div class="row">


                            <div class="col-md-6">{{resultado.examen.nombre}}</div ><div class="col-md-6"><span *ngFor="let v of resultado.valores">{{v.valor}}</span> ml</div ></div>
                          </ng-container>
                            <ng-container *ngIf="resultado.examen.cod_examen===60">
                                <td>  <div class="row">
        
        
                                    <div class="col-md-6">{{resultado.examen.nombre}}</div ><div class="col-md-6"><span *ngFor="let v of resultado.valores">{{v.valor}}</span> </div ></div>
                                  </td>
                                </ng-container>
                                </ng-container>
                            </ng-container>
                      </tr>

                      <tr>
                          <ng-container *ngFor="let resultado of ex.resultados_examen.resultados_examenes">
                              <ng-container *ngFor="let resultado of resultado.resultados_examenes">
                                <ng-container *ngIf="resultado.examen.cod_examen===51">
                        <td>  <div class="row">


                            <div class="col-md-6">{{resultado.examen.nombre}}</div ><div class="col-md-6"><span *ngFor="let v of resultado.valores">{{v.valor}}</span> </div ></div>
                          </ng-container>
                            <ng-container *ngIf="resultado.examen.cod_examen===61">
                                <td>  <div class="row">
        
        
                                    <div class="col-md-6">{{resultado.examen.nombre}}</div ><div class="col-md-6"><span *ngFor="let v of resultado.valores">{{v.valor}}</span> </div ></div>
                                  </td>
                                </ng-container>
                                </ng-container>
                            </ng-container>
                      </tr>

                      <tr>
                          <ng-container *ngFor="let resultado of ex.resultados_examen.resultados_examenes">
                              <ng-container *ngFor="let resultado of resultado.resultados_examenes">
                                <ng-container *ngIf="resultado.examen.cod_examen===52">
                        <td>  <div class="row">


                            <div class="col-md-6">{{resultado.examen.nombre}}</div ><div class="col-md-6"><span *ngFor="let v of resultado.valores">{{v.valor}}</span> </div ></div>
                          </ng-container>
                            <ng-container *ngIf="resultado.examen.cod_examen===62">
                                <td>  <div class="row">
        
        
                                    <div class="col-md-6">{{resultado.examen.nombre}}</div ><div class="col-md-6"><span *ngFor="let v of resultado.valores">{{v.valor}}</span> </div ></div>
                                  </td>
                                </ng-container>
                                </ng-container>
                            </ng-container>
                      </tr>

                      <tr>
                          <ng-container *ngFor="let resultado of ex.resultados_examen.resultados_examenes">
                              <ng-container *ngFor="let resultado of resultado.resultados_examenes">
                                <ng-container *ngIf="resultado.examen.cod_examen===53">
                        <td>  <div class="row">


                            <div class="col-md-6">{{resultado.examen.nombre}}</div ><div class="col-md-6"><span *ngFor="let v of resultado.valores">{{v.valor}}</span> </div ></div>
                          </ng-container>
                            <ng-container *ngIf="resultado.examen.cod_examen===63">
                                <td>  <div class="row">
        
        
                                    <div class="col-md-6">{{resultado.examen.nombre}}</div ><div class="col-md-6"><span *ngFor="let v of resultado.valores">{{v.valor}}</span> </div ></div>
                                  </td>
                                </ng-container>
                                </ng-container>
                            </ng-container>
                      </tr>

                      <tr>
                          <ng-container *ngFor="let resultado of ex.resultados_examen.resultados_examenes">
                              <ng-container *ngFor="let resultado of resultado.resultados_examenes">
                                <ng-container *ngIf="resultado.examen.cod_examen===54">
                        <td>  <div class="row">


                            <div class="col-md-6">{{resultado.examen.nombre}}</div ><div class="col-md-6"><span *ngFor="let v of resultado.valores">{{v.valor}}</span> </div ></div>
                          </ng-container>
                            <ng-container *ngIf="resultado.examen.cod_examen===64">
                                <td>  <div class="row">
        
        
                                    <div class="col-md-6">{{resultado.examen.nombre}}</div ><div class="col-md-6"><span *ngFor="let v of resultado.valores">{{v.valor}}</span> </div ></div>
                                  </td>
                                </ng-container>
                                </ng-container>
                            </ng-container>
                      </tr>

                      <tr>
                          <ng-container *ngFor="let resultado of ex.resultados_examen.resultados_examenes">
                              <ng-container *ngFor="let resultado of resultado.resultados_examenes">
                                <ng-container *ngIf="resultado.examen.cod_examen===55">
                        <td>  <div class="row">


                            <div class="col-md-6">{{resultado.examen.nombre}}</div ><div class="col-md-6"><span *ngFor="let v of resultado.valores">{{v.valor}}</span> </div ></div>
                          </ng-container>
                            <ng-container *ngIf="resultado.examen.cod_examen===65">
                                <td>  <div class="row">
        
        
                                    <div class="col-md-6">{{resultado.examen.nombre}}</div ><div class="col-md-6"><span *ngFor="let v of resultado.valores">{{v.valor}}</span> </div ></div>
                                  </td>
                                </ng-container>
                                </ng-container>
                            </ng-container>
                      </tr>

                      <tr>
                          <ng-container *ngFor="let resultado of ex.resultados_examen.resultados_examenes">
                              <ng-container *ngFor="let resultado of resultado.resultados_examenes">
                                <ng-container *ngIf="resultado.examen.cod_examen===56">
                        <td>  <div class="row">


                            <div class="col-md-6">{{resultado.examen.nombre}}</div ><div class="col-md-6"><span *ngFor="let v of resultado.valores">{{v.valor}}</span> </div ></div>
                          </ng-container>
                            <ng-container *ngIf="resultado.examen.cod_examen===66">
                                <td>  <div class="row">
        
        
                                    <div class="col-md-6">{{resultado.examen.nombre}}</div ><div class="col-md-6"><span *ngFor="let v of resultado.valores">{{v.valor}}</span> </div ></div>
                                  </td>
                                </ng-container>
                                </ng-container>
                            </ng-container>
                      </tr>

                      <tr>
                          <ng-container *ngFor="let resultado of ex.resultados_examen.resultados_examenes">
                              <ng-container *ngFor="let resultado of resultado.resultados_examenes">
                                <ng-container *ngIf="resultado.examen.cod_examen===57">
                        <td>  <div class="row">


                            <div class="col-md-6">{{resultado.examen.nombre}}</div ><div class="col-md-6"><span *ngFor="let v of resultado.valores">{{v.valor}}</span> </div ></div>
                          </ng-container>
                            <ng-container *ngIf="resultado.examen.cod_examen===67">
                                <td>  <div class="row">
        
        
                                    <div class="col-md-6">{{resultado.examen.nombre}}</div ><div class="col-md-6"><span *ngFor="let v of resultado.valores">{{v.valor}}</span> </div ></div>
                                  </td>
                                </ng-container>
                                </ng-container>
                            </ng-container>
                      </tr>

                      <tr>
                          <ng-container *ngFor="let resultado of ex.resultados_examen.resultados_examenes">
                              <ng-container *ngFor="let resultado of resultado.resultados_examenes">
                                <ng-container *ngIf="resultado.examen.cod_examen===58">
                        <td>  <div class="row">


                            <div class="col-md-6">{{resultado.examen.nombre}}</div ><div class="col-md-6"><span *ngFor="let v of resultado.valores">{{v.valor}}</span> </div ></div>
                          </ng-container>
                          <ng-container *ngIf="resultado.examen.cod_examen===58">
                              <td>  <div class="row">
      
      
                                  <div class="col-md-6"></div ><div class="col-md-6"> </div ></div>
                                </ng-container>
                        
                                </ng-container>
                            </ng-container>
                      </tr>
                      
                      </table>
                     
                         <br>



                         <div class="row">
                            <div class="col-md-3">      </div>
                            <div class="col-md-3"></div>
                            
                            <div class="col-md-3">      </div>
                            <div class="col-md-3"></div>
                        
                        
                            <ng-container *ngFor="let resultado of ex.resultados_examen.resultados_examenes">
                                <ng-container  *ngFor="let resultado of resultado.resultados_examenes">
                                    <ng-container *ngIf="resultado.examen.cod_examen===17">
                                     
                
                
                                            <div class="col-md-3">{{resultado.examen.nombre}}</div ><div class="col-md-3"><span *ngFor="let v of resultado.valores">{{v.valor}}</span> {{resultado.examen.unidades}} </div >
                                          </ng-container>
                                            <ng-container *ngIf="resultado.examen.cod_examen===18">
                                               
                        
                        
                                                    <div class="col-md-3">{{resultado.examen.nombre}}</div ><div class="col-md-3"><span *ngFor="let v of resultado.valores">{{v.valor}}</span> {{resultado.examen.unidades}}</div >
                                                  
                                                </ng-container>

                                                <ng-container *ngIf="resultado.examen.cod_examen===19">
                                               
                        
                        
                                                    <div class="col-md-3">{{resultado.examen.nombre}}</div ><div class="col-md-3"><span *ngFor="let v of resultado.valores">{{v.valor}}</span> {{resultado.examen.unidades}} </div >
                                                  
                                                </ng-container>
                                                <ng-container *ngIf="resultado.examen.cod_examen===20">
                                               
                        
                        
                                                    <div class="col-md-3">{{resultado.examen.nombre}}</div ><div class="col-md-3"><span *ngFor="let v of resultado.valores">{{v.valor}}</span> {{resultado.examen.unidades}}</div >
                                                  
                                                </ng-container>


                                </ng-container>
                            </ng-container>
                        
                        </div>
                        



<div class="row">
<div></div>

    
    <ng-container *ngFor="let resulta of ex.resultados_examen.resultados_examenes">
      <ng-container *ngIf="resulta.examen.cod_examen ==69"> 
      
      <ng-container *ngIf="resulta.valores[0].valor != ''">
    <div class="col-md-1"><strong>{{resulta.examen.nombre}}:</strong> </div>
        <div class="col-md-10"><span *ngFor="let v of resulta.valores; index as i">{{v.valor}} </span>  </div >
        </ng-container>
        </ng-container></ng-container>
</div>

                       
             </div>
  </ng-container>
</ng-container>
            </div>
              </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="row clearfix">
        <div class="col-sm-8 offset-sm-2">
          
        </div>
        <div class="col-sm-8 offset-sm-2">
          <button type="button" (click)="captureScreen()" class="btn btn-raised btn-primary btn-round waves-effect"   >
            <div class="demo-google-material-icon"> <i class="material-icons">picture_as_pdf</i> <span class="icon-name">descargar</span></div></button>
        </div>
      </div>
  </section>
    
                 
      
    
   
    
  
      
    
    
    
    
  
    
                  