<section class="content">
  <div class="block-header">
    <div class="row">
      <div class="col-lg-7 col-md-6 col-sm-12">
        <h2>Usuarios
          
        </h2>
      </div>
      <div class="col-lg-5 col-md-6 col-sm-12">
        <ul class="breadcrumb float-md-right">
          <li class="breadcrumb-item"><a routerLink="/dashboard/main"><i class="zmdi zmdi-home"></i> </a></li>
          <li class="breadcrumb-item"><a href="javascript:void(0);">usuarios</a></li>
           <li class="breadcrumb-item active">lista-usuarios</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <!-- Basic Examples -->
    <div class="row clearfix">
      <div class="col-lg-12">
        <div class="card">
          <div class="header">
            
              <button type="button" routerLink="/usuarios/registrar" class="btn btn-raised btn-primary btn-round waves-effect">Registrar</button>
            <ul class="header-dropdown">
              <li class="dropdown"> <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="zmdi zmdi-more"></i> </a>
                <ul class="dropdown-menu dropdown-menu-right slideUp float-right">
                  <li><a href="javascript:void(0);">Action</a></li>
                  <li><a href="javascript:void(0);">Another action</a></li>
                  <li><a href="javascript:void(0);">Something else</a></li>
                </ul>
              </li>
              <li class="remove">
                <a role="button" class="boxs-close"><i class="zmdi zmdi-close"></i></a>
              </li>
            </ul>
          </div>
          <div class="body">
            <p-table  #dd [value]="usuarios" [paginator]="true" [rows]="5" [pageLinks]="2" [rowsPerPageOptions]="[5,10,20]" selectionMode="multiple" [columns]="cols">
              <ng-template pTemplate="caption">
                <div class="ui-helper-clearfix" style="text-align: left">
                 
                  <button type="button" pButton icon="pi pi-file" iconPos="left" label="PDF" (click)="exportPdf()" class="btn btn-warning"></button>
                   
                  </div>
            </ng-template>
              <ng-template pTemplate="header" let-solicitud="rowData">
                  <tr><th style="width:30px">#</th>
                      <th *ngFor="let col of cols" >
                          {{col.header}}
                      </th>
                      
                      <th>Estado</th>
                      <th>Rol</th>
                      <th style="width:120px">Acciones</th>
                  </tr>
                  <tr>
                    <th></th>
                      <th  style="width:auto" *ngFor="let col of cols" [ngSwitch]="col.field">
                        
                          <input *ngSwitchCase="'cedula'" [(ngModel)]="form.cedula" pInputText type="text" (input)="filtro_completo()">
                          <input  *ngSwitchCase="'nombres'" [(ngModel)]="form.nombres" pInputText type="text" (input)="filtro_completo()">
                        
                     
                      </th>
                      <th> <ng-select   placeholder="Selecciona un estado"   [(ngModel)]="form.estado" class="" (ngModelChange)="filtro_completo()"   name="estado" required>
                        <ng-option  *ngFor=" let rol of brands" [value]="rol.value" >{{rol.label}}</ng-option>
                       
                       </ng-select>
                       </th>
                      <th>  
                        <ng-select  placeholder="Selecciona un rol"   [(ngModel)]="form.rol" class="" (ngModelChange)="filtro_completo()"   name="estado" required>
                        <ng-option  *ngFor=" let rol of roles" [value]="rol" >{{rol.nombre}}</ng-option>
                       
                       </ng-select>  </th>
                      <th></th>
                  </tr>
              </ng-template>
              <ng-template pTemplate="body"   let-i="rowIndex" let-usuario>
                  <tr>
                    <td>
                            {{i+1}}
                    <!-- pas-->
                    </td>
                      <td *ngFor="let col of cols; index as i" [style]="{'width':'100%'}">
                          {{usuario[col.field]}}
                      </td>
                      <td class="titulo">
                        {{usuario.estado}}
                        </td>
                      <td>
                      {{usuario.rol.nombre}}
                      </td>
                     
                         <td class="body data text-center container">
                          <div class="row">
                          
                            <div class="col-md-1">
                             <button  rel="tooltip" data-placement="top" title="Ver Datos" (click)="ver(usuario)" data-toggle="modal" data-target="#defaultModal" class="btn btn-info btn-pequeño  btn-icon-mini btn-round">
                              <i class="zmdi zmdi-eye col-white" style="color:white; font-size:17px"></i>
                              </button>
                      </div>

                      
                          
                      <div  rel="tooltip" data-placement="top" title="Modificar" class="col-md-1">
                           
                              <button (click)="actualizar(usuario)"  routerLink="/usuarios/modificar"  class="btn btn-warning btn-pequeño  btn-icon-mini btn-round">
                                <i class="zmdi zmdi-edit col-white" style="color:white; font-size:17px"></i>
                                </button>
                        </div>
                        <div class="col-md-1" *ngIf="usuario.estado=='deshabilitado'">
                          <button  (click)="actualizarEstado(usuario, 'habilitado')"  rel="tooltip" data-placement="top" title="Habilitar"  class="btn btn-success btn-pequeño  btn-icon-mini btn-round">
                            <i class="material-icons" style="color:white; font-size:17px">thumb_up</i>
                            </button>
                      </div>
                      <div    rel="tooltip" data-placement="top" title="Deshabilitar"  class="col-md-1" *ngIf="usuario.estado=='habilitado'">
                        <button   (click)="actualizarEstado(usuario, 'deshabilitado')" class="btn btn-danger btn-pequeño  btn-icon-mini btn-round">
                          <i class="material-icons" style="color:white; font-size:17px">thumb_down</i>
                          </button> </div>
                      
                        
                      </div>
                  </tr>
              </ng-template>
                
                
            </p-table>

<!--
            <div class="table-responsive">
              <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                <thead>
                  <tr>
                      <th>#</th>
                      <th>USUARIO</th>
                    <th>ROL</th>
                      <th>ESTADO</th>
                      <TH>MODIFICAR</TH>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let user of usuarios  | paginate: {itemsPerPage: 5, currentPage: pageActual}; index as i">
                    <th scope="row">{{i+1}}</th>
                    <td>     {{user.personal_laboratorio.persona.nombre}} {{user.personal_laboratorio.persona.ap}} {{user.personal_laboratorio.persona.am}}
                      <td>
                        <ng-select   placeholder="Selecciona un rol" [closeOnSelect]="false"  [(ngModel)]="user.roles[0].cod_rol" class="" (ngModelChange)="rolseleccionar($event)" multiple  name="rol" required>
                          <ng-option  *ngFor=" let rol of user.roles" [value]="rol.cod_rol" >{{rol.nombre}}</ng-option>
                         
                         </ng-select>
                 </td>
                      <td>{{user.estado}}</td>
                      <td><a routerLink="/usuarios/modificar" (click)="modificarUsuario(user)" class=" waves-effect waves-float waves-green"><i class="zmdi zmdi-edit"></i></a>
                      </td>
                  </tr>
         </tbody>
              </table>
              <pagination-controls (pageChange)="pageActual = $event"   previousLabel="Atras" nextLabel="Siguiente"></pagination-controls>
        

            </div>
          -->
          </div>
        </div>
      </div>
    </div>
    <!-- #END# Basic Examples -->
    <!-- Exportable Table -->
    
    <!-- #END# Exportable Table -->
  </div>
</section>
<div class="modal fade" id="defaultModal" >
  <div class="modal-dialog modal-login">
    <div class="modal-content">
      <div class="modal-header">
        <div class="avatar">
					<img [src]="usuario.personal_laboratorio.link_foto" class="rounded-circle img-raised imgRedonda"  alt="Avatar">
        </div>	
        <!-- 
        <h4 class="title" id="defaultModalLabel">Datos del Paciente</h4>usuario.personal_laboratorio.link_foto
      -->
      </div>
      <div class="modal-body">
        <div class="container text-center">
         
          <div class="row">
            <div class="col ">
                <p class="font-weight-bold">Cedula de Identidad: 
                    <span class="font-weight-normal">{{usuario.cedula}}</span>
                </p>
            </div>
        </div>
        <div class="row">
          <div class="col ">
              <p class="font-weight-bold">Nombres: 
                  <span class="font-weight-normal">{{usuario.personal_laboratorio.persona.nombre}}</span>
              </p>
          </div>
      </div>
      <div class="row">
        <div class="col ">
            <p class="font-weight-bold">Apellidos: 
                <span class="font-weight-normal">{{usuario.personal_laboratorio.persona.ap}} {{usuario.personal_laboratorio.persona.am}}</span>
            </p>
        </div>
    </div>
    <div class="row">
      <div class="col ">
          <p class="font-weight-bold">Profesión: 
              <span class="font-weight-normal">{{usuario.personal_laboratorio.profesion}}</span>
          </p>
      </div>
  </div>
  <div class="row">
    <div class="col ">
        <p class="font-weight-bold">Rol: 
            <span class="font-weight-normal">{{usuario.rol.nombre}}</span>
        </p>
    </div>
</div>
<div class="row">
  <div class="col ">
      <p class="font-weight-bold">Estado: 
          <span class="font-weight-normal">{{usuario.estado}}</span>
      </p>
  </div>
</div>
      

    









</div>
       </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger btn-round waves-effect" data-dismiss="modal">CERRAR</button>
       
      </div>
    </div>

    
  </div>
</div>
