
<section class="content">
    <div class="block-header">
      <div class="row">
        <div class="col-lg-7 col-md-6 col-sm-12">
          <h2>Reporte de analisis
            <small></small>
          </h2>
        </div>
        <div class="col-lg-5 col-md-6 col-sm-12">
          <button class="btn btn-white btn-icon btn-round hidden-sm-down float-right m-l-10" type="button">
            <i class="zmdi zmdi-plus"></i>
          </button>
          <ul class="breadcrumb float-md-right">
            <li class="breadcrumb-item"><a routerLink="/dashboard/main"><i class="zmdi zmdi-home"></i> </a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0);">resultados</a></li>
            <li class="breadcrumb-item active">reporte-analisis</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row clearfix">
        <div class="col-lg-12">
          <div class="card">
            <div class="body"><div style="margin:40px" id="contentToConvert">
  
              <div >
                  <div  class=""  >
                      <div class="container">
                       
                                     <div class="text-center">
                                       <br>
                                       <br>
                <h3>A N Á L I S I S</h3>
              </div>
              
  
              <div  style="border-bottom : 1px solid black" class="row">
                  <div class="col-md-2"><Strong>Fecha  </Strong>        </div>
                    <div class="col-md-4"><strong>:</strong>   {{solicitud.fecha | date: 'dd-MM-yyyy'}}</div>
                  
                    <div class="col-md-2"><Strong>Paciente </Strong>        </div>
                    <div class="col-md-4"><strong>:</strong>   {{solicitud.paciente.persona.nombre}} {{solicitud.paciente.persona.ap}} {{solicitud.paciente.persona.am}}</div>
  
                    <div class="col-md-2"><Strong>Institucion  </Strong>        </div>
                    <div class="col-md-4"><strong>:</strong>   <span *ngIf="solicitud.institucion.cod_institucion !='PAR'"> {{solicitud.institucion.cod_institucion_padre}} </span><span *ngIf="solicitud.institucion.cod_institucion=='PAR'">{{solicitud.institucion.nombre}}</span></div>
  
                    <div class="col-md-2"><Strong>Edad  </Strong>        </div>
                    <div class="col-md-2"><strong>:</strong>   {{solicitud.paciente.edad}}</div>
  
                    <div class="col-md-1"><Strong>Sexo  </Strong>        </div>
                    <div class="col-md-1"><strong>:</strong>   {{solicitud.paciente.sexo}}</div>
                  
                    <div class="col-md-2"><Strong>Indicaciones del Dr.  </Strong>        </div>
                    <div class="col-md-4"><strong>:</strong>   {{solicitud.doctor_solicitante.nombre}} {{solicitud.doctor_solicitante.ap}} {{solicitud.doctor_solicitante.am}}</div>
  
                    <div class="col-md-2"><Strong>Procedencia  </Strong>        </div>
                    <div class="col-md-4"><strong>:</strong>   {{solicitud.paciente.procedencia}}</div> 
  
                
                   <hr>
                  
                  
                   <br>
              </div>
  
  
  
              <!-- fi n del encabezado del pdf-->
  
  
  
              
                 
                      <div class="container">
                       
                                     <div class="text-center">
                                     
                <h3>R E S U L T A D O S </h3>
                </div>
              </div>
              
              <div class="container">
                  <div class="row">
                      <div class="col-md-2">     </div>
                      <div class="col-md-4"></div>
                    
                      <div class="col-md-2"><Strong> Valor de Referencia</Strong>        </div>
                      <div class="col-md-4"></div>
    
                  </div>


                  <div  *ngFor="let ex of solicitud.examenes_solicitados">
                    <ng-container *ngIf="ex.precio_examen.examen.cod_examen !=48  &&  ex.precio_examen.examen.cod_examen !=25">
                      <div class="col-md-3" *ngIf="ex.num_subexamenes == 0"><strong ></strong>      </div>
                  <ng-container >
                      <div class="row">
     
                       <div class="col-md-3"><strong >{{ex.precio_examen.examen.nombre}} </strong>      </div>
                   <div class="col-md-3"><strong ><span *ngIf="ex.precio_examen.examen.num_subexamenes==0">:</span></strong>  <span *ngFor="let v of ex.resultados_examen.valores">{{v.valor}}</span></div>
                 
                   <div class="col-md-3">  <span *ngFor="let v of ex.precio_examen.examen.valores_referencia">
                    {{v.tipo_persona}} <span *ngIf="v.valor_inicial != v.valor_final">{{v.valor_inicial}} - {{v.valor_final}} .</span><span *ngIf="v.valor_inicial == v.valor_final">{{v.valor_inicial}}.</span>
                  </span>  {{ex.precio_examen.examen.unidades}}     </div>
     
     
                   <div class="col-md-3"></div>
     
                      </div>
                  </ng-container>

                  <ng-container  *ngFor="let re of ex.resultados_examen.resultados_examenes">
                    <div class="row">
   
                     <div class="col-md-3"><strong >{{re.examen.nombre}} </strong>      </div>
                 <div class="col-md-3"><span *ngIf="re.examen.num_subexamenes==0">:</span>  <span *ngFor="let v of re.valores">{{v.valor}}</span></div>
               
                 <div class="col-md-3"> 
                  <span *ngFor="let v of re.examen.valores_referencia">
                    {{v.tipo_persona}} <span *ngIf="v.valor_inicial != v.valor_final">{{v.valor_inicial}} - {{v.valor_final}} .</span><span *ngIf="v.valor_inicial == v.valor_final">{{v.valor_inicial}}.</span>
                  </span> {{re.examen.unidades}}     </div>
   
   
                 <div class="col-md-3"></div>
   
                    </div>
                    <ng-container *ngIf="re.examen.num_subexamenes!=0" >
                <ng-container  *ngFor="let re of re.resultados_examenes">
                  <div class="row">
 
                   <div class="col-md-3"><strong >{{re.examen.nombre}} </strong>      </div>
               <div class="col-md-3"><strong >:</strong>  <span *ngFor="let v of re.valores">{{v.valor}}</span></div>
             
               <div class="col-md-3"> <span *ngFor="let v of re.examen.valores_referencia">
                {{v.tipo_persona}} <span *ngIf="v.valor_inicial != v.valor_final">{{v.valor_inicial}} - {{v.valor_final}} .</span><span *ngIf="v.valor_inicial == v.valor_final">{{v.valor_inicial}}.</span>
              </span> {{re.examen.unidades}}     </div>
 
 
               <div class="col-md-3"></div>
 
                  </div>
              </ng-container>
            </ng-container>
            </ng-container>
     
                  
          
          
          </ng-container>
          
          
          </div>


<!--

               <div  *ngFor="let resultado of solicitud.resultados_subexamenes">
                 <div class="row">
  
                    <div class="col-md-3"><strong *ngIf="resultado.resultado===''">{{resultado.examen.nombre}} </strong> <span *ngIf="resultado.resultado!=''">{{resultado.examen.nombre}} </span>     </div>
                <div class="col-md-3"><strong *ngIf="resultado.resultado!=''">:</strong>   {{resultado.resultado}}</div>
              
                <div class="col-md-3"> {{resultado.examen.valor_referencia}}  {{resultado.examen.unidades}}     </div>
  
  
                <div class="col-md-3"></div>
  
                </div>
  
  
               </div>
-->


             </div>
  
            </div>
            </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="row clearfix">
        <div class="col-sm-8 offset-sm-2">
          
        </div>
        <div class="col-sm-8 offset-sm-2">
          <button type="button" (click)="captureScreen()" class="btn btn-raised btn-primary btn-round waves-effect"   >
            <div class="demo-google-material-icon"> <i class="material-icons">picture_as_pdf</i> <span class="icon-name">descargar</span></div></button>
        </div>
      </div>
  </section>
    
                 
      
    
   
    
  
      
    
    
    
    
  
    
                  