<section class="content">
  <div class="block-header">
    <div class="row">
      <div class="col-lg-7 col-md-6 col-sm-12">
        <h2>Registrar Solicitud
        </h2>
      </div>
      <div class="col-lg-5 col-md-6 col-sm-12">
        <ul class="breadcrumb float-md-right">
          <li class="breadcrumb-item"><a routerLink="/dashboard/main"><i class="zmdi zmdi-home"></i> </a></li>
          <li class="breadcrumb-item"><a href="javascript:void(0);">solicitudes</a></li>
          <li class="breadcrumb-item active">registrar</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container-fluid">
 
    <!-- Horizontal Layout -->
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <ul class="header-dropdown">
              <li class="dropdown"> <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="zmdi zmdi-more"></i> </a>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li><a href="javascript:void(0);">Action</a></li>
                  <li><a href="javascript:void(0);">Another action</a></li>
                  <li><a href="javascript:void(0);">Something else</a></li>
                </ul>
              </li>
              <li class="remove">
                <a role="button" class="boxs-close"><i class="zmdi zmdi-close"></i></a>
              </li>
            </ul>
          </div>
          <div class="body">
           
            <form class="needs-validation" ngNativeValidate  #formsolicitud="ngForm" >
              <div class="row clearfix">
                <div class="col-lg-2 col-md-2 col-sm-4 form-control-label">
                  <label for="cedula">Cedula de paciente</label>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-8">
                  <div class="form-group">
                    <input  type="search" id="cedula" [(ngModel)]="form.paciente.cedula" name="cedula" class="form-control" [formControl]="control" placeholder="Ingresa la cedula" required>
                    <button style="display:none" type="button" (click)="buscar_paciente()"  class="btn btn-raised btn-primary btn-round waves-effect"   >buscar</button>
                   
                    <div *ngIf="bandera2" class="alert alert-danger" role="alert">cedula no valido o no registrado en el sistema</div>





                    <table class="table table-bordered table-striped table-hover js-basic-example dataTable" *ngIf="show && form.paciente.cedula !=''">
                      <thead>
                        <tr>
                            <th>CEDULA</th>
                            
                            <th>PACIENTE</th>
                          
                        </tr>
                      </thead>
                    
                      <tbody>
                        <tr >
                          <td >{{pacientebuscado.cedula}}</td>
                       
                          <td> {{pacientebuscado.persona.nombre}} {{pacientebuscado.persona.ap}} {{pacientebuscado.persona.am}}</td>
                         
                        </tr>
                       
                    </tbody>
                    </table>






                  </div>
                </div>
              </div>
              
              

       

              <div class="row clearfix">
                <div class="col-lg-2 col-md-2 col-sm-4 form-control-label">
                  <label for="nombre">Institucion</label>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-8">
                  <div class="form-group">
                   
                    <select class="form-control " [(ngModel)]="form.institucion.cod_institucion" name="institucion" class="form-control" placeholder="buscar institucion"  (ngModelChange)="institucionbuscar($event)" required>
                     
                      <optgroup label="">
                          <option *ngFor="let i of institucionesFaltantes"  [value]="i.cod_institucion"  > {{i.nombre}}</option>
                   
                      </optgroup>
                      <optgroup label="SIS">
                        
                        <option *ngFor="let posta of instituciones" [value]="posta.cod_institucion"  >{{posta.nombre}}</option>
                      </optgroup>
                    </select>
                    </div>
                </div>
              </div> 
              
              <div class="row clearfix">
                <div class="col-lg-2 col-md-2 col-sm-4 form-control-label">
                  <label for="ap">Doctor Solicitante</label>
                </div>
                <!---
                <div class="col-lg-10 col-md-10 col-sm-8">
                  <div class="form-group">
                    <input [(ngModel)]="form.doctor" name="doctor" class="form-control" placeholder="doctor" required>
                  </div>
                </div>
              -->
              
              <div class="col-lg-10 col-md-10 col-sm-8">
                
              <div class="row clearfix">
                <div class="col-sm-4">
                  <div class="form-group">
                    <input type="text" [(ngModel)]="form.doctor_solicitante.nombre" name="nombre" class="form-control titulo" placeholder="Ingresa el nombre" required />
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <input type="text" [(ngModel)]="form.doctor_solicitante.ap" name="ap" class="form-control titulo" placeholder="Ingresa el apellido paterno"  required/>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <input type="text" [(ngModel)]="form.doctor_solicitante.am" name="am" class="form-control titulo"  placeholder="Ingresa el apellido materno" />
                  </div>
                </div>
              </div>
              </div>
              </div>
              
              <div class="row clearfix">
                <div class="col-lg-2 col-md-2 col-sm-4 form-control-label">
                  <label for="login">Fecha</label>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-8">
                  <div class="form-group">
                   
                  <!--  <input [(ngModel)]="form.fecha_entrega" name="fecha_entrega" type="date" id="fecha_entrega" class="form-control" placeholder="Entra tu procedencia">-->
                  <input type="date" [(ngModel)]="fecha" name="fecha" id="fecha" class="form-control" placeholder="fecha"  size="12" required/>
                          
                </div>
                </div>
              </div>
              <div class="row clearfix">
                <div class="col-lg-2 col-md-2 col-sm-4 form-control-label">
                  <label for="login">Fecha Entrega</label>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-8">
                  <div class="form-group">
                   
                  <!--  <input [(ngModel)]="form.fecha_entrega" name="fecha_entrega" type="date" id="fecha_entrega" class="form-control" placeholder="Entra tu procedencia">-->
                  <input type="date" [(ngModel)]="fecha_entrega" id="fecha_entrega" name="fecha_entrega" class="form-control" placeholder="Fecha de entreg"  size="12" required />
                </div>
                </div>
              </div>
              <div class="row clearfix">
                  <div class="col-lg-2 col-md-2 col-sm-4 form-control-label">
                    <label for="login">Examenes Solicitados</label>
                  </div>
                
                </div>
              <div class="row clearfix "  *ngIf="mostrar">
                <div class="col-lg-2 col-md-2 col-sm-4 form-control-label">
                  <label for="login">Area</label>
                </div>
                  <div class="col-lg-10 col-md-10 col-sm-8" >
                 
                      <ng-select  class="" placeholder="seleccione el area donde esta el examen"  style="width:100%" [(ngModel)]="cod_area" (ngModelChange)="listarExamenesdeArea()"  name="cod_area">
                     
                        <ng-option *ngFor="let area of areas" [value]="area.cod_area"  >{{area.nombre}}</ng-option>
                      
                      </ng-select>
                  
              
                   
                 
               
                </div>
              </div>
              
              
              <br>

          
              <div class="row clearfix" *ngIf="mostrar">
                <div class="col-lg-2 col-md-2 col-sm-4 form-control-label">
                  <label for="login">Examen</label>
                </div>
                  <div class="col-lg-10 col-md-10 col-sm-8">
                   
                      <ng-select  id="cod_precio_examen" class="" [(ngModel)]="cod_precio_examen" #e="ngModel"  placeholder="seleccione un examen" (ngModelChange)="examenseleccionar()"   name="cod_examen" >
                    
                     
                          <ng-option [value]="e.cod_precio_examen"  *ngFor="let e of examenes" >{{e.examen.nombre}}</ng-option>
                  
                     
                  
                      </ng-select>
                      <br>
              
               
                </div>
              </div>
              
              
              
              
              
              
              <div class="body">
                  <div class="table-responsive">
              <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                                    <thead>
                                      <tr>
                                          <th>#</th>
                                          
                                          <th>NOMBRE</th>
                                          <th>QUITAR EXAMEN</th>
                                        
                                      </tr>
                                    </thead>
                  
                                    <tbody>  <ng-container *ngFor="let e of form.examenes_solicitados; index as in" > 
                                      <tr *ngIf=" e.estado=='Sin Registrar'">
                                          <th scope="row">{{in+1}}</th>
                                        <td >{{e.precio_examen.examen.nombre}}</td>
                                        <td><a  routerLink="/solicitudes/registrar"  (click)="quitar_examen(e.precio_examen.examen.cod_examen, in )"  class=" waves-effect waves-float waves-green"><i class="zmdi zmdi-delete"></i></a>
                                
                                     
                                           
                                      </tr>
                                    </ng-container>
                                     
                                  </tbody>
                                  </table>
              
              
              
              
              
              
                                
                              </div>
                            </div>
                            
              
                            
              
              
              
              
              
              <div *ngIf="bandera" class="alert alert-danger" role="alert">tiene que haber como minimo un examen en la solicitud</div>
              
              
              
              
              
              


              
<div class="row clearfix">
  <div class="col-sm-8 offset-sm-2">
    
  </div>
  <div class="col-sm-8 offset-sm-2">
    <button type="submit"  (click)="guardar_solicitud(formsolicitud)" class="btn btn-raised btn-primary btn-round waves-effect"   >Guardar</button>
  </div>
</div>

            </form>




            
          </div>
        </div>
      </div>
    </div>
 
  </div>
</section>