.titulo{
   
    text-transform: capitalize;
  }
  .imageupload {
    margin: 20px 0;
}

.container {
  max-width: 960px;
  margin: 30px auto;
  padding: 20px;
}

h1 {
  font-size: 20px;
  text-align: center;
  margin: 20px 0 20px;
}
  small {
      display: block;
      font-size: 15px;
      padding-top: 8px;
      color: gray;
  }


.avatar-upload {
  position: relative;
  max-width: 205px;
  margin: 50px auto;
}
  .avatar-edit {
      position: absolute;
      right: 12px;
      z-index: 1;
      top: 10px;
  }
     
     
  .avatar-preview {
      width: 192px;
      height: 192px;
      position: relative;
      border-radius: 100%;
      border: 6px solid #F8F8F8;
      box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  }
  .imgRedonda {
    width:120px;
    height:120px;
    border-radius:50%;
}
