

<section class="content">
    <div class="block-header">
      <div class="row">
        <div class="col-lg-7 col-md-6 col-sm-12">
          <h2>Reporte de Análisis Hematologico
            <small></small>
          </h2>
        </div>
        <div class="col-lg-5 col-md-6 col-sm-12">
         
          <ul class="breadcrumb float-md-right">
            <li class="breadcrumb-item"><a routerLink="/dashboard/main"><i class="zmdi zmdi-home"></i> </a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0);">resultados</a></li>
            <li class="breadcrumb-item active">reporte-hemograma</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row clearfix" >
        <div class="col-lg-12">
          <div class="card"  style="width:267mm">
            <div class="body" style="width:257mm"><div  id="contentToConvert" class="container-fluid" style="width:237mm;margin:10mm;padding:10mm; border-width: 0mm  " >
  
              <div class="container " style="margin:0mm;padding:0mm; border-width:0px;width: 100%">
                  <div  class=""  >
                      <div class="container">
                       
                                     <div class="text-center">
                                   
                                <h3 style="margin:10px"><pre>A N Á L I S I S  H E M A T O L O G I C O</pre></h3>
                                  </div>
              
  
              <div  style="border-bottom : 1px solid black" class="row">
                <div class="col-md-2"><Strong>Fecha  </Strong>        </div>
                  <div class="col-md-4"><strong>:</strong>   {{solicitud.fecha | date: 'dd-MM-yyyy'}}</div>
                
                  <div class="col-md-2"><Strong>Paciente </Strong>        </div>
                  <div class="col-md-4"><strong>:</strong>   {{solicitud.paciente.persona.nombre}} {{solicitud.paciente.persona.ap}} {{solicitud.paciente.persona.am}}</div>

                  <div class="col-md-2"><Strong>Institucion  </Strong>        </div>
                  <div class="col-md-4"><strong>: </strong>  <span *ngIf="solicitud.institucion.cod_institucion !='PAR'"> {{solicitud.institucion.cod_institucion_padre}} </span><span *ngIf="solicitud.institucion.cod_institucion=='PAR'">{{solicitud.institucion.nombre}}</span></div>

                  <div class="col-md-2"><Strong>Edad  </Strong>        </div>
                  <div class="col-md-2"><strong>:</strong>   {{solicitud.paciente.edad}}</div>

                  <div class="col-md-1"><Strong>Sexo  </Strong>        </div>
                  <div class="col-md-1"><strong>:</strong>   {{solicitud.paciente.sexo}}</div>
                
                  <div class="col-md-2"><Strong>Indicaciones del Dr.  </Strong>        </div>
                  <div class="col-md-4"><strong>: </strong> <span *ngIf="solicitud.doctor_solicitante != null">{{solicitud.doctor_solicitante.nombre}} {{solicitud.doctor_solicitante.ap}} {{solicitud.doctor_solicitante.am}}</span><span *ngIf="solicitud.doctor_solicitante==null">A QUIEN CORRESPONDA</span></div>

                  <div class="col-md-2"><Strong>Procedencia  </Strong>        </div>
                  <div class="col-md-4"><strong>:</strong>   {{solicitud.paciente.procedencia}}</div> 

              
                 <hr>
                
                
                 <br>
            </div>
  
  
  
              <!-- fi n del encabezado del pdf-->
  
              <ng-container  *ngFor="let ex of solicitud.examenes_solicitados">
                <ng-container *ngIf="ex.precio_examen.examen.cod_examen ==25">
  
  <div class="container">
                     
      <div class="text-center">
      
<h3><pre>SERIE ROJA</pre> </h3>
</div>
</div>
  <div class="container" style="border-bottom: 1px solid black">                
      <div class="text-center">
          <div class="" style="width: 100%">
              <div class="text-left"  >
                  <ng-container *ngFor="let resultado of ex.resultados_examen.resultados_examenes">
                      <ng-container *ngIf="resultado.examen.cod_examen===26"> 
                           <div class="row">
                               <ng-container  *ngFor="let resultad of resultado.resultados_examenes">    
                                  <span class="col-md-4">
                                    
                                      <strong>{{resultad.examen.nombre}}:&nbsp;</strong> 
                                      <span *ngFor="let v of resultad.valores">{{v.valor}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                         <span *ngFor="let v of resultad.examen.valores_referencia">{{v.tipo_persona}} 
                                            <span *ngIf="v.valor_inicial != v.valor_final">{{v.valor_inicial}} - {{v.valor_final}}.</span>
                                            <span *ngIf="v.valor_inicial == v.valor_final">{{v.valor_inicial}}.</span><span *ngIf="resultad.examen.cod_examen==27">x 10<sup>5</sup></span>
                                         </span>  {{resultad.examen.unidades}} 
                                      </span>
                                  </span>
                                </ng-container>     
                            </div>
                      </ng-container>
                  </ng-container>
              </div>
            </div>
       </div>
</div>
<!-- serie blanca-->
<div class="container">
                     
    <div class="text-center">
    
<h3><pre>SERIE BLANCA</pre> </h3>
</div>
</div>
<!--leucocitos-->

<div class="container" >                
  <div class="text-center">
      <div class="" style="width: 100%">
          <div class="text-left"  >
              <ng-container *ngFor="let resultado of ex.resultados_examen.resultados_examenes">
                  <ng-container *ngIf="resultado.examen.cod_examen===30"> 
                       <div class="row">
                           <ng-container  *ngFor="let resultad of resultado.resultados_examenes"> 
                           <ng-container *ngIf="resultad.examen.cod_examen===31">   
                              <span class="col-md-7 text-left">
                                  <strong>{{resultad.examen.nombre}}:&nbsp;</strong> 
                                  <span *ngFor="let v of resultad.valores">{{v.valor}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                     <span *ngFor="let v of resultad.examen.valores_referencia">{{v.tipo_persona}} 
                                        <span *ngIf="v.valor_inicial != v.valor_final">{{v.valor_inicial}} - {{v.valor_final}}.</span>
                                        <span *ngIf="v.valor_inicial == v.valor_final">{{v.valor_inicial}}.</span>.x10<sup>2</sup>/&nbsp;&nbsp;{{resultad.examen.unidades}} &nbsp;&nbsp;&nbsp;&nbsp;
                                     </span> 
                                  </span>
                              </span>
                              </ng-container>
                            </ng-container>     
                        </div>
                  </ng-container>
              </ng-container>
          </div>
        </div>
   </div>
</div>

<!--fin-->
        
<br>      
<table >

    <tr>
      <td style="border-right:1px solid black"> ELEMENTOS</td><td style="border-right:1px solid black">Basófilos</td><td style="border-right:1px solid black">Eosinófilos</td><td style="border-right:1px solid black">Mielocitos</td>
      <td style="border-right:1px solid black">Juveniles</td><td style="border-right:1px solid black">Cayados</td><td style="border-right:1px solid black">Neutrófilos</td><td style="border-right:1px solid black">Linfocitos</td>
      <td style="border-right:0px">Monocitos</td>
    </tr>
    <tr style="height: 40px">
       
        <td style="border-right:1px solid black">%</td>
        <ng-container *ngFor="let resultado of ex.resultados_examen.resultados_examenes">
            <ng-container *ngIf="resultado.examen.cod_examen===30"> 

                       <ng-container  *ngFor="let resultad of resultado.resultados_examenes">    
                        <ng-container *ngIf="resultad.examen.cod_examen != 31 && resultad.examen.cod_examen != 40">
   <ng-container *ngIf="resultad.examen.cod_examen == 39" >  <td style="border-right:0px">
  
      <span *ngFor="let v of resultad.valores">{{v.valor}}</span>
    </td></ng-container>
    <ng-container *ngIf="resultad.examen.cod_examen != 39" >  <td style="border-right:1px solid black">
  
        <span *ngFor="let v of resultad.valores">{{v.valor}}</span>
      </td></ng-container>
      </ng-container>


  



  </ng-container></ng-container>
  </ng-container>
    </tr>
    <!-- fila de valires de referencia-->
    <tr>


        <td style="border-right:1px solid black">% NORMALES</td>

        <ng-container *ngFor="let resultado of ex.resultados_examen.resultados_examenes">
            <ng-container *ngIf="resultado.examen.cod_examen===30"> 

                       <ng-container  *ngFor="let resultad of resultado.resultados_examenes">    
                        <ng-container *ngIf="resultad.examen.cod_examen != 31 && resultad.examen.cod_examen != 40">
   <ng-container *ngIf="resultad.examen.cod_examen == 39" >  <td style="border-right:0px">
  
      <span *ngFor="let v of resultad.examen.valores_referencia">{{v.tipo_persona}}
         <span *ngIf="v.valor_inicial != v.valor_final">{{v.valor_inicial}} - {{v.valor_final}} .</span>
         <span *ngIf="v.valor_inicial == v.valor_final">{{v.valor_inicial}}.</span>
         </span>
    </td></ng-container>
    <ng-container *ngIf="resultad.examen.cod_examen != 39" >  <td style="border-right:1px solid black">
        <span *ngFor="let v of resultad.examen.valores_referencia">{{v.tipo_persona}}
            <span *ngIf="v.valor_inicial != v.valor_final">{{v.valor_inicial}} - {{v.valor_final}} .</span>
            <span *ngIf="v.valor_inicial == v.valor_final">{{v.valor_inicial}}.</span>
            </span>
       </td></ng-container>
      </ng-container>


  



  </ng-container></ng-container>
  </ng-container>

        </tr>
    <!--fin-->
  
  </table>



<!--caracter a l frotis-->
<div class="container" > 
                   
    <div >
    
        <div class="row " style="width: 100%">
            <div class="col-xs-12 col-md-12 "  >
                <ng-container *ngFor="let resultado of ex.resultados_examen.resultados_examenes">
                  <ng-container *ngIf="resultado.examen.cod_examen===30"> 

                             <ng-container  *ngFor="let resultad of resultado.resultados_examenes">    
                              <ng-container *ngIf="resultad.examen.cod_examen== 40">
                                <strong>{{resultad.examen.nombre}}</strong>: <span *ngFor="let v of resultad.valores">{{v.valor}}</span> <span *ngFor="let v of resultad.examen.valores_referencia">{{v.tipo_persona}} <span *ngIf="v.valor_inicial != v.valor_final">{{v.valor_inicial}} - {{v.valor_final}} .</span><span *ngIf="v.valor_inicial == v.valor_final">{{v.valor_inicial}}.</span> </span>  {{resultad.examen.unidades}} 
                              </ng-container>
                            </ng-container>  
                  </ng-container   ></ng-container>

            </div>


       
          </div>
</div>
</div>
<!--fin-->
  
       

<div class="row">
    <div class="col-md-2">      </div>
    <div class="col-md-4"></div>
    
    <div class="col-md-2">      </div>
    <div class="col-md-4"></div>


    <ng-container *ngFor="let resultado of ex.resultados_examen.resultados_examenes">
        <ng-container *ngIf="resultado.examen.cod_examen!=30 &&  resultado.examen.cod_examen!=26"> 
            <div class="col-md-2">      </div>
            <div class="col-md-4"></div>
            
            <div class="col-md-2">  
                <strong>{{resultado.examen.nombre}}</strong>: <span *ngFor="let v of resultado.valores">{{v.valor}}</span> 
               </div>
            <div class="col-md-4">
                <span *ngFor="let v of resultado.examen.valores_referencia">{{v.tipo_persona}} <span *ngIf="v.valor_inicial != v.valor_final">{{v.valor_inicial}} - {{v.valor_final}} .</span><span *ngIf="v.valor_inicial == v.valor_final">{{v.valor_inicial}}.</span> </span>  {{resultado.examen.unidades}} 
            </div>

        </ng-container>
    </ng-container>

</div>

<br>
<div class="row">
  <div class="col-md-8"></div>
  <div class="col-md-4" >
<strong  style="font-size: 14px;">Usuario: </strong><span style="font-size: 14px;">{{currentUser.personal_laboratorio.persona.nombre}} {{currentUser.personal_laboratorio.persona.ap}} {{currentUser.personal_laboratorio.persona.am}}</span><br>
<strong style="font-size: 14px;">Fecha: </strong> <span style="font-size: 14px;">{{fechita}}</span>
</div>
</div>


  </ng-container>  
</ng-container>             
  
            </div>
            </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="row clearfix">
        <div class="col-sm-8 offset-sm-2">
          
        </div>
        <div class="col-sm-8 offset-sm-2">
          <button type="button" (click)="captureScreen()" class="btn btn-raised btn-primary btn-round waves-effect"   >
            <div class="demo-google-material-icon"> <i class="material-icons">picture_as_pdf</i> <span class="icon-name">descargar</span></div></button>
        </div>
      </div>
  </section>
    
                 
      
    
   
    
  
      
    
    
    
    
  
    
                  