<section class="content">
  <div class="block-header">
    <div class="row">
      <div class="col-lg-7 col-md-6 col-sm-12">
        <h2>Modificar Solicitud
        </h2>
      </div>
      <div class="col-lg-5 col-md-6 col-sm-12">
        <ul class="breadcrumb float-md-right">
          <li class="breadcrumb-item"><a routerLink="/dashboard/main"><i class="zmdi zmdi-home"></i> </a></li>
          <li class="breadcrumb-item"><a href="javascript:void(0);">solicitudes</a></li>
          <li class="breadcrumb-item active">modificar</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container-fluid">
 
    <!-- Horizontal Layout -->
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <ul class="header-dropdown">
              <li class="dropdown"> <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="zmdi zmdi-more"></i> </a>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li><a href="javascript:void(0);">Action</a></li>
                  <li><a href="javascript:void(0);">Another action</a></li>
                  <li><a href="javascript:void(0);">Something else</a></li>
                </ul>
              </li>
              <li class="remove">
                <a role="button" class="boxs-close"><i class="zmdi zmdi-close"></i></a>
              </li>
            </ul>
          </div>
          <div class="body">


          
            <form class="needs-validation" ngNativeValidate  #formsolicitud="ngForm" >

                <div class="row clearfix">
                    <div class="col-lg-2 col-md-2 col-sm-4 form-control-label">
                      <label for="ap">Paciente</label>
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-8">
                      <div class="form-group">
                     <label for="">{{form.paciente.persona.nombre}} {{form.paciente.persona.ap}} {{form.paciente.persona.am}}</label>  </div>
                    </div>
                  </div>

              <div style="display:none" class="row clearfix">
                <div class="col-lg-2 col-md-2 col-sm-4 form-control-label">
                  <label for="cedula">Cedula del Paciente</label>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-8">
                  <div class="form-group">
                    <input  type="search" id="cedula" value="{{form.paciente.nombre}}" [(ngModel)]="form.paciente.cedula" name="cedula" class="form-control" placeholder="Entra tu cedula" [disabled]='true'required>
                    <button *ngIf="false" type="button" (click)="buscar_paciente()"  class="btn btn-raised btn-primary btn-round waves-effect"   >buscar</button>
                   
                     




                    <table class="table table-bordered table-striped table-hover js-basic-example dataTable" *ngIf="show">
                      <thead>
                        <tr>
                            <th>CEDULA</th>
                            
                            <th>PACIENTE</th>
                          
                        </tr>
                      </thead>
                    
                      <tbody>
                        <tr >
                          <td >{{pacientebuscado.cedula}}</td>
                       
                          <td> {{pacientebuscado.nombre}} {{pacientebuscado.ap}} {{pacientebuscado.am}}</td>
                         
                        </tr>
                       
                    </tbody>
                    </table>






                  </div>
                </div>
              </div>
              

              


              <div class="row clearfix">
                <div class="col-lg-2 col-md-2 col-sm-4 form-control-label">
                  <label for="nombre">Institucion</label>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-8">
                  <div class="form-group">
                   
                    <select class="form-control " [(ngModel)]="form.institucion.cod_institucion" name="institucion" class="form-control" placeholder="institucion"  (ngModelChange)="institucionbuscar($event)" required>
                     
                      <optgroup label="">
                          <option *ngFor="let i of institucionesFaltantes"  [value]="i.cod_institucion"  > {{i.nombre}}</option>
                   
                      </optgroup>
                      <optgroup label="SIS">
                        
                        <option *ngFor="let posta of instituciones" [value]="posta.cod_institucion"  >posta de {{posta.nombre}}</option>
                      </optgroup>
                    </select>
                    </div>
                </div>
              </div> 

<div class="row clearfix">
  <div class="col-lg-2 col-md-2 col-sm-4 form-control-label">
    <label for="ap">Doctor Solicitante</label>
  </div>
  <!---
  <div class="col-lg-10 col-md-10 col-sm-8">
    <div class="form-group">
      <input [(ngModel)]="form.doctor" name="doctor" class="form-control" placeholder="doctor" required>
    </div>
  </div>
-->

<div class="col-lg-10 col-md-10 col-sm-8">
  
<div class="row clearfix">
  <div class="col-sm-4">
    <div class="form-group">
      <input type="text" [(ngModel)]="form.doctor_solicitante.nombre" name="nombre" class="form-control" placeholder="nombre" required />
    </div>
  </div>
  <div class="col-sm-4">
    <div class="form-group">
      <input type="text" [(ngModel)]="form.doctor_solicitante.ap" name="ap" class="form-control" placeholder="apellido paterno"  required/>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="form-group">
      <input type="text" [(ngModel)]="form.doctor_solicitante.am" name="am" class="form-control"  placeholder="apellido materno" />
    </div>
  </div>
</div>
</div>
</div>

<div class="row clearfix">
  <div class="col-lg-2 col-md-2 col-sm-4 form-control-label">
    <label for="login">Fecha</label>
  </div>
  <div class="col-lg-10 col-md-10 col-sm-8">
    <div class="form-group">
     
    <!--  <input [(ngModel)]="form.fecha_entrega" name="fecha_entrega" type="date" id="fecha_entrega" class="form-control" placeholder="Entra tu procedencia">-->
    <input type="date" [(ngModel)]="fecha" name="fecha" id="fecha" class="form-control" placeholder="fecha"  size="12" required/>
            
  </div>
  </div>
</div>
<div class="row clearfix">
  <div class="col-lg-2 col-md-2 col-sm-4 form-control-label">
    <label for="login">Fecha Entrega</label>
  </div>
  <div class="col-lg-10 col-md-10 col-sm-8">
    <div class="form-group">
     
    <!--  <input [(ngModel)]="form.fecha_entrega" name="fecha_entrega" type="date" id="fecha_entrega" class="form-control" placeholder="Entra tu procedencia">-->
    <input type="date" [(ngModel)]="fecha_entrega" id="fecha_entrega" name="fecha_entrega" class="form-control" placeholder="Fecha de entreg"  size="12" required />
  </div>
  </div>
</div>
<div class="row clearfix">
    <div class="col-lg-2 col-md-2 col-sm-4 form-control-label">
      <label for="login">Examenes Solicitados</label>
    </div>
  
  </div>

<div class="row clearfix ">
  <div class="col-lg-2 col-md-2 col-sm-4 form-control-label">
    <label for="login">Area</label>
  </div>
    <div class="col-lg-10 col-md-10 col-sm-8" >
   
        <ng-select  class="" placeholder="seleccione el area donde esta el examen"  style="width:100%" [(ngModel)]="form.examenes_solicitados[i].precio_examen.examen.area" (ngModelChange)="listarExamenesdeArea($event)"  name="cod_area">
       
          <ng-option *ngFor="let area of areas" [value]="area"  >{{area.nombre}}</ng-option>
        
        </ng-select>
    

     
   
 
  </div>
</div>


<br>
<div class="row clearfix">
  <div class="col-lg-2 col-md-2 col-sm-4 form-control-label">
    <label for="login">Examen</label>
  </div>
    <div class="col-lg-10 col-md-10 col-sm-8">
     
        <ng-select  [(ngModel)]="form.examenes_solicitados[i].precio_examen"  placeholder="seleccione un examen" (ngModelChange)="examenseleccionar($event)"   name="cod_examen">
          <ng-container *ngIf="examenes.length >0">
            <ng-container *ngFor="let e of examenes">
     
            <ng-option [value]="e" >{{e.examen.nombre}}</ng-option>
    
          </ng-container>
        </ng-container>
        <ng-container *ngIf="examenes.length == 0">
        
          <ng-option></ng-option>
  
        
      </ng-container>
        </ng-select>
        <br>

  {{form.examenes_solicitados[i].precio_examen.examen.cod_examen}}
 
  </div>
</div>

<div class="body">
    <div class="table-responsive">
<table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                      <thead>
                        <tr>
                            <th>#</th>
                            
                            <th>NOMBRE</th>
                            <th>QUITAR EXAMEN</th>
                          
                        </tr>
                      </thead>
    
                      <tbody>  <ng-container *ngFor="let e of form.examenes_solicitados; index as in" > 
                        <tr *ngIf=" i!=in ">
                            <th scope="row">{{in+1}}</th>
                          <td >{{e.precio_examen.examen.nombre}}</td>
                          <td><a  routerLink="/solicitudes/modificar" (click)="quitar_examen(e.precio_examen.examen.cod_examen, in )"  class=" waves-effect waves-float waves-green"><i class="zmdi zmdi-delete"></i></a>
                  
                       
                             
                        </tr>
                      </ng-container>
                       
                    </tbody>
                    </table>






                  
                </div>
              </div>
              

              





<div *ngIf="bandera" class="alert alert-danger" role="alert">tiene que haber como minimo un examen en la solicitud</div>






              
<div class="row clearfix">
  <div class="col-sm-8 offset-sm-2">
    
  </div>
  <div class="col-sm-8 offset-sm-2">
    <button type="submit"  (click)="modificar_solicitud(formsolicitud)" class="btn btn-raised btn-primary btn-round waves-effect"   >Guardar</button>
  </div>

</div>

            </form>

            
            


            
          </div>
        </div>
      </div>
    </div>
 
  </div>
</section>