<section class="content ">
  <div class="block-header m_img_btn">
    <div class="row">
      <div class="col-lg-7 col-md-6 col-sm-12">
        <h2>Usuarios
          <small></small>
        </h2>
      </div>
      <div class="col-lg-5 col-md-6 col-sm-12">
        <ul class="breadcrumb float-md-right">
          <li class="breadcrumb-item"><a routerLink="/dashboard/main"><i class="zmdi zmdi-home"></i> </a></li>
          <li class="breadcrumb-item"><a href="javascript:void(0);">usuarios</a></li>
          <li class="breadcrumb-item active">registrar</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container-fluid">
 
    <!-- Horizontal Layout -->
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2><strong>Registrar</strong> Usuario</h2>
            <ul class="header-dropdown">
              <li class="dropdown"> <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="zmdi zmdi-more"></i> </a>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li><a href="javascript:void(0);">Action</a></li>
                  <li><a href="javascript:void(0);">Another action</a></li>
                  <li><a href="javascript:void(0);">Something else</a></li>
                </ul>
              </li>
              <li class="remove">
                <a role="button" class="boxs-close"><i class="zmdi zmdi-close"></i></a>
              </li>
            </ul>
          </div>
          <div class="body">

          
          
            <form class="needs-validation" ngNativeValidate  #formulario=ngForm>

              <div class="row clearfix">
                <div class="col-lg-2 col-md-2 col-sm-4 form-control-label">
                  <label for="cedula">Cedula</label>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-8">
                  <div class="form-group">
                    <input  type="text" id="cedula" [(ngModel)]="form.cedula" name="cedula"  class="form-control " placeholder="Entra  cedula"required>
                  
                  
                  </div>
                  

                </div>
              </div>
              <input type="number" step="0.01" required/>
              <div class="row clearfix">
                <div class="col-lg-2 col-md-2 col-sm-4 form-control-label">
                  <label for="nombre">Nombre</label>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-8">
                  <div class="form-group">
                    <input  type="text" id="nombre" [(ngModel)]="form.personal_laboratorio.persona.nombre" name="nombre" #nombre="ngModel"  class="form-control titulo" placeholder="Entra nombre" required>
                  </div>

                
                </div>
              </div>

<div class="row clearfix">
  <div class="col-lg-2 col-md-2 col-sm-4 form-control-label">
    <label for="ap">Apellido Paterno</label>
  </div>
  <div class="col-lg-10 col-md-10 col-sm-8">
    <div class="form-group">
      <input [(ngModel)]="form.personal_laboratorio.persona.ap" name="ap" #ap="ngModel" class="form-control tilo" placeholder="Entra apellido paterno" required>
    </div>
   
  </div>
</div>

<div class="row clearfix">
  <div class="col-lg-2 col-md-2 col-sm-4 form-control-label">
    <label for="ap">Apellido Materno </label>
  </div>
  <div class="col-lg-10 col-md-10 col-sm-8">
    <div class="form-group">
      <input [(ngModel)]="form.personal_laboratorio.persona.am" name="am" #am="ngModel" class="form-control titulo" placeholder="Entra  apellido materno" >
    </div>
  
  </div>
</div>

<div class="row clearfix">
  <div class="col-lg-2 col-md-2 col-sm-4 form-control-label">
    <label for="ap">Profesion </label>
  </div>
  <div class="col-lg-10 col-md-10 col-sm-8">
    <div class="form-group">
      <input [(ngModel)]="form.personal_laboratorio.profesion" name="profesion" #profesion="ngModel" class="titulo form-control" placeholder="Entra  profesion" required >
    </div>
   
  </div>
</div>


<div class="row clearfix">
  <div class="col-lg-2 col-md-2 col-sm-4">
    <label for="estado">Rol </label>
  </div>
  <div class="col-lg-10 col-md-10 col-sm-8">
  
      <select id=rol placeholder="selecciona"  [(ngModel)]="form.rol.cod_rol"  class="form-control" (ngModelChange)="rolseleccionar($event.target)"   name="rol" required>
        <option selected disabled value="Selecciona">Choose...</option>
        <option  *ngFor=" let rol of roles" [value]="rol.cod_rol" >{{rol.nombre}}</option>
       
       </select>

  </div>
</div>
<br>



<div class="row clearfix">
  <div class="col-lg-2 col-md-2 col-sm-4 form-control-label">
    <label for="login">Usuario</label>
  </div>
  <div class="col-lg-10 col-md-10 col-sm-8">
    <div class="form-group">
      <input [(ngModel)]="form.login" name="login" type="password" id="login" #login="ngModel" class="form-control" placeholder="Entra usuario" required>
    </div>
   
  </div>
</div>

<div class="row clearfix">
  <div class="col-lg-2 col-md-2 col-sm-4 form-control-label">
    <label for="ap">Contraseña</label>
  </div>
  <div class="col-lg-10 col-md-10 col-sm-8">
    <div class="form-group">
      <input [(ngModel)]="form.password" id="password" name="password" type="password"  class="form-control" placeholder="contraseña" required>
     
    </div>
  
  </div>
</div>


<div class="row clearfix">
  <div class="col-lg-2 col-md-2 col-sm-4 form-control-label">
    <label for="ap">Confirmar contraseña</label>
  </div>
  <div class="col-lg-10 col-md-10 col-sm-8">
    <div class="form-group">
      <input  type="password"   id="password_confirmation"   name="pass" class="form-control" placeholder="contraseña" required>
    
      <!--   
      <div *ngIf="form2.pass!=form.password && pass.valid" class="alert alert-danger">
        no coinciden las contraseñas. 
        </div>
      -->
    </div>
    <!---
    <div *ngIf="pass.invalid && (pass.dirty || pass.touched)" class="alert alert-danger">
                  
      <div *ngIf="pass.errors.required">
      contraseña es requerido.
      </div>
                          </div>
                          <div *ngIf="form2.pass!=form.password && pass.valid" class="alert alert-danger">
                            no coinciden las contraseñas. 
                            </div>
                          -->
  </div>
</div>
<div class="row clearfix">
  <div class="col-lg-2 col-md-2 col-sm-4 form-control-label">
    <label for="estado">Foto </label>
  </div>
  <div class="col-lg-2 col-md-10 col-sm-8 card-img text-center p-2">
  <!--  
    <img [src]="form.personal_laboratorio.foto"  style="width:250px;height:145px; border-radius: 50%"  >
  -->
    <input type="file" class="d-none" (change)="onPhotoSelected($event)" #photoInput>
    <img [src]="photoSelected || imageUrl"  class="rounded-circle img-raised imgRedonda"
        (click)="photoInput.click()"><!-- al hacer click en la imagen el input oculto funciona -->
        <!-- 
    <input type="file" #Image accept="image/*" (change)="handleFileInput($event.target.files)">
  -->
    
    
  </div>
</div> 
{{formulario.valid}}
<div class="row clearfix">
  <div class="col-sm-8 offset-sm-2">
    
  </div>
  <div class="col-sm-8 offset-sm-2">
    <button   data-type="autoclose-timer" type="submit" (click)="onSubmit(formulario)"  class="btn btn-raised btn-primary btn-round waves-effect"   >Guardar</button>
  </div>
</div>

            </form>
          </div>
        </div>
      </div>
    </div>
 
  </div>
  
</section>