/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/purple-green.css';

@import "~@ng-select/ng-select/themes/default.theme.css";

/*
@import "~assets/plugins/primeng/theme/nova-light/theme.css";
*/

@import "~primeng/resources/themes/omega/theme.css";
html, body { height: 100%;
 }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;

};
div{
    background-color: red;
}


