<section class="content">
  <div class="block-header">
    <div class="row">
      <div class="col-lg-7 col-md-6 col-sm-12">
        <h2>Solicitudes
          
        </h2>
      </div>
      <div class="col-lg-5 col-md-6 col-sm-12">
        <ul class="breadcrumb float-md-right">
          <li class="breadcrumb-item"><a routerLink="/dashboard/main"><i class="zmdi zmdi-home"></i> </a></li>
          <li class="breadcrumb-item"><a href="javascript:void(0);">solicitudes</a></li>
           <li class="breadcrumb-item active">listar</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <!-- Basic Examples -->
    <div class="row clearfix">
      <div class="col-lg-12">
        <div class="card">
          <div class="header">
            
              <button data-type="success" type="button" routerLink="/solicitudes/registrar" class="btn btn-raised btn-primary btn-round waves-effect">Registrar</button>
            <ul class="header-dropdown">
              <li class="dropdown"> <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="zmdi zmdi-more"></i> </a>
                <ul class="dropdown-menu dropdown-menu-right slideUp float-right">
                  <li><a href="javascript:void(0);">Action</a></li>
                  <li><a href="javascript:void(0);">Another action</a></li>
                  <li><a href="javascript:void(0);">Something else</a></li>
                </ul>
              </li>
              <li class="remove">
                <a role="button" class="boxs-close"><i class="zmdi zmdi-close"></i></a>
              </li>
            </ul>
          </div>
          <div class="body">
           
            
    <!---          
<div class="row">
              <div class="col-md-3">
                  <div class="input-group search">
                    <input id="pac" type="text" class="form-control" placeholder="buscar por nombre de paciente" (input)="buscaPaciente($event)">
                    <span class="input-group-addon">
                                          <i class="zmdi zmdi-search"></i>
                                      </span>
                  </div>
  
                  
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="zmdi zmdi-calendar"></i>
                                        </span>
                      <input   [(ngModel)]="form.fech" (input)="buscar_por_fecha($event)" name="fech" id="fech" type="text" class=" dtp-btn-ok form-control fechapicker" placeholder="buscar por fecha">
                      <span class="input-group-addon" >
                          <i class="zmdi zmdi-search" (click)="buscar_por_fecha()"></i>
                      </span>
                    </div>
                  
                  </div>

</div>
-->
<!--
<p-dataTable #dt styleClass="table table-hover" [value]="solicitudes" [paginator]="true" [rows]="5" [pageLinks]="2" [rowsPerPageOptions]="[5,10,20]" >
    <p-column header = "#"  >
        <ng-template  let-i="rowIndex" pTemplate="body">
          {{i+1}}
        </ng-template>
      
    </p-column>  

  <p-column field="nombres_paciente" header="Paciente" [filter]="true" [sortable]="true">
    
  </p-column>
  <p-column field="estado" header="Estado"  [sortable]="true" [filter]="true">
     
  </p-column>

  <p-column header = "Analisis" >
    <ng-template  let-solicitud="rowData" pTemplate="body">
      <ng-select  placeholder="mostrar analisis">
        <ng-option *ngFor="let e of solicitud.examenes_solicitados" [value]="e"  >{{e.precio_examen.examen.nombre}}</ng-option>
      
      </ng-select>
     </ng-template>
  
</p-column>
          <p-column field="fecha" header="Fecha" [filter]="true" [sortable]="true">
          
          </p-column>
          <p-column header = "Edit">
              <ng-template  let-solicitud="rowData" pTemplate="body">
                <a (click)="actualizar(solicitud)" routerLink="/solicitudes/modificar" class=" waves-effect waves-float waves-green"><i class="zmdi zmdi-edit"></i></a>
              </ng-template>
            
          </p-column>
         
      </p-dataTable>
    --> 
    <!--
      select s.cod_solicitud, s.fecha, s.fecha_entrega, s.cedula_paciente, s.cedula_usuario, s.estado, s.cod_institucion, s.gestion, s.cod_doctor_solicitante, s.estado_solicitud 
from solicitud s, pacientes pa, persona pe where s.cedula_paciente=pa.cedula and pe.cod_persona=pa.cod_persona and (pe.nombre ilike '%sanch%' or pe.ap ilike '%sanch%' or pe.am ilike '%sanch%');

    -->
    <!--   
    <input type="text"  list="valores_area" class="form-control" [ngClass]="borde">
    <datalist id="valores_area">
      <option *ngFor="let p of pacientes" [value]="p.nombres" ></option>
    </datalist> 
  -->
  <datalist id="valores_paciente">
    <option *ngFor="let p of pacientes" [value]="p.nombres" ></option>
  </datalist> 
  
  <form   #fo="ngForm" ngNativeValidate>
    <input type="text" required>
    <input type="number" step="0.01" />
    {{fo.valid}}
    <input type="submit" (click)="enviar(fo)" >
  </form>
    
<p-table id="table" #dd [value]="solicitudes" [columns]="cols" [paginator]="true" [rows]="10" [pageLinks]="2" [rowsPerPageOptions]="[5,10,20]" >
  
  <ng-template pTemplate="caption" style="background-color: red;">
      
    <div class="ui-helper-clearfix" style="text-align: left">
     
      <button type="button" pButton icon="pi pi-file" iconPos="left" label="PDF" (click)="exportPdf()" class="btn btn-warning"></button>
       
      </div>
</ng-template>
  <ng-template pTemplate="header" let-solicitud="rowData">
      <tr><th style="width:45px" class="text-center">#</th>
          <th *ngFor="let col of cols" >
              {{col.header}}
          </th>
          
          <th style="width:200px"> Fecha</th>
          <th>Estado</th>
          <th  >Examenes</th>
          
          <th style="width:115px">Acciones</th>
     
      </tr>
      <tr>
        <th></th>
          <th  style="width:auto" *ngFor="let col of cols" [ngSwitch]="col.field">
            <ng-container  *ngSwitchCase="'nombres_paciente'">
           
              <input   pInputText  [(ngModel)]="form.caracter_nombre" list="valores_paciente" (input)="busca_pacientes()"  name="caracter_nombre" type="text"  placeholder="">
      
             </ng-container>
              <ng-select  *ngSwitchCase="'estado'"  placeholder=""  [(ngModel)]="form.resultados" class="" (ngModelChange)="filtro_completo(formulario)"   name="resultados" required>
                <ng-option  *ngFor=" let rol of brands" [value]="rol.value" >{{rol.label}}</ng-option>
               
               </ng-select>
             

           
          </th>
          <th>
              <div class="ui-inputgroup">
                  <span  style="width: 20%;" class="ui-inputgroup-addon" data-toggle="modal" data-target="#addevent"><i class="pi pi-calendar" style="line-height: 1.25;"></i></span>
                  <input  style="width: 80%;" [(ngModel)]="form.fech" pInputText data-date-format="YYYYY-MMMM-DD" (ngModelChange)="filtro_completo(formulario)" name="fech" type="date"  placeholder="fecha_inicio">         
              </div>
         
          </th>
          <th>
            <ng-select   placeholder="Selecciona un estado"  [(ngModel)]="form.estado_solicitud" class="" (ngModelChange)="filtro_completo(formulario)"   name="estado" required>
              <ng-option  *ngFor=" let rol of brands2" [value]="rol.value" >{{rol.label}}</ng-option>
             
             </ng-select>
          </th>
          <th>
            <!--
             <input pInputText type="text" placeholder="buscar por nombre de paciente" (input)="buscaPaciente($event)">
          -->
          </th>
          <th></th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body"   let-i="rowIndex" let-solicitud>
      <tr>
        <td class="text-left">
                {{i+1}}
        
        </td>
          <td *ngFor="let col of cols; index as i" [style]="{'width':'100%'}">
              {{solicitud[col.field]}}
          </td>
          <td>
            {{solicitud.fecha | date: 'dd-MM-yyyy'}}
          </td>
          <td>
            {{solicitud.estado_solicitud}}
          </td>
          <td>  
              <ng-select  placeholder="mostrar examenes">
                <ng-option *ngFor="let e of solicitud.examenes_solicitados" [value]="e"  >{{e.precio_examen.examen.nombre}}</ng-option>
              
              </ng-select>
              
             </td>
             <td  class="text-center">
              <div class="row">
                          
                <div class="col-md-1" >
              <button  rel="tooltip" data-placement="top" title="Ver Datos" (click)="ver(solicitud)"  data-toggle="modal" data-target="#defaultModal" class="btn btn-info btn-pequeño  btn-icon-mini btn-round">
                <i class="zmdi zmdi-eye col-white" style="color:white; font-size:17px"></i></button>
          </div>
        
          <div class="col-md-1" >
            <ng-container  *ngIf="solicitud.estado=='Sin Registrar'">
            <button  rel="tooltip" data-placement="top" title="Modificar" (click)="actualizar(solicitud)" routerLink="/solicitudes/modificar"  class="btn btn-warning btn-pequeño  btn-icon-mini btn-round">
              <i class="zmdi zmdi-edit col-white" style="color:white; font-size:17px"></i></button>
            </ng-container>
            <ng-container  *ngIf="solicitud.estado=='Registrado'">
              <button  rel="tooltip" data-placement="top" title="Modificar" (click)="actualizar(solicitud)" routerLink="/solicitudes/modificar"  class="btn btn-warning btn-pequeño  btn-icon-mini btn-round" disabled>
                <i class="zmdi zmdi-edit col-white" style="color:white; font-size:17px"></i></button>
              </ng-container>
          </div>
          
          <div class="col-md-1" >
            
            <ng-container  *ngIf="solicitud.estado=='Registrado'">
            <button rel="tooltip" data-placement="top" title="Ver factura" (click)="facturar(solicitud)" routerLink="/solicitudes/factura" class="btn btn-secondary btn-pequeño  btn-icon-mini btn-round"><i class="zmdi zmdi-assignment col-white" style="color:white; font-size:17px"></i></button>
          </ng-container>
          <ng-container  *ngIf="solicitud.estado=='Sin Registrar'">
            <button rel="tooltip" data-placement="top" title="Ver factura" (click)="facturar(solicitud)" routerLink="/solicitudes/factura" class="btn btn-secondary btn-pequeño  btn-icon-mini btn-round" disabled><i class="zmdi zmdi-assignment col-white" style="color:white; font-size:17px"></i></button>
          </ng-container>
            </div>
       
          </div>
              
           </td>
      </tr>
  </ng-template>
    
    
</p-table>
<!--
              <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                
                <thead>
                  <tr>
                      <th>#</th>
                      
                      <th>PACIENTE</th>
                      <th>ANALISIS</th>
                      <th>ESTADO</th>
                      <TH>FECHA</TH>
                      <TH>MODIFICAR</TH>
                      
                  </tr>
                </thead>
              
                <tbody>
                    <tr *ngFor="let s of solicitudes | paginate: {itemsPerPage: 5, currentPage: pageActual}; index as i">
                        <th scope="row">{{i+1}}</th>
                     
                        <td>{{s.paciente.persona.nombre}} {{s.paciente.persona.ap}} {{s.paciente.persona.am}}</td>
                        <td> 
                          
                          
                                <ng-select  placeholder="mostrar analisis ">
                                 <ng-option *ngFor="let e of s.examenes_solicitados" [value]="e.precio_examen.examen.nombre"  >{{e.precio_examen.examen.nombre}}</ng-option>
                               
                               </ng-select>
                            
                        </td>
                          <td>{{s.estado}}</td>
                          <td>{{s.fecha}}</td>
                          <td><a  *ngIf="s.estado==='Sin Registrar'" routerLink="/solicitudes/modificar" (click)="actualizar(s)"  class=" waves-effect waves-float waves-green"><i class="zmdi zmdi-edit"></i></a>
                      
                          </td>
                      </tr>
                  
                 
              </tbody>
              </table>
              <pagination-controls (pageChange)="pageActual = $event"   previousLabel="Atras" nextLabel="Siguiente"></pagination-controls>
            -->
      
   
          </div>

        </div>
      </div>
    </div>
    <!-- #END# Basic Examples -->
    <!-- Exportable Table -->
    
    <!-- #END# Exportable Table -->
  </div>
</section>
<div class="modal fade" id="addevent" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="title" id="defaultModalLabel" >Periodo Entre Fechas</h4>
      </div>
      <div class="modal-body">
           <form  ngNativeValidate  #formulario="ngForm">
          <div class=" row">
            
  <div class="col-lg-4">
            <label for="fecha_inicio">Desde:</label>
            </div>
            
  <div class="col-lg-8">
            <input id="fecha_inicio" class="form-control" [(ngModel)]="form.fecha_inicio" name="fecha_inicio" type="date" placeholder="fecha_inicio" required max="form.fecha_fin">
        
                  </div>
<br>
<div class="col-lg-4"></div><div class="col-lg-8"></div>
                  <div class="col-lg-4">
                      <label for="fecha_fin">Hasta:</label>
                      </div>
                      
            <div class="col-lg-8">
                      <input  class="form-control"  id="fecha_fin" [(ngModel)]="form.fecha_fin"  name="fecha_fin" type="date"  placeholder="fecha_final" required>
                  
                            </div>
              </div>
      <div class="modal-footer">
        <button type="submit" (click)="filtro_completo(formulario)" id="a" class="btn btn-primary btn-round waves-effect" >Guardar</button>
        <button type="button" class="btn btn-simple btn-round waves-effect" data-dismiss="modal">Salir</button>
      </div>
      </form>
    </div>
  </div>
</div>
</div>
<!-- j modal de ver solicitud-->
<div class="modal fade" id="defaultModal" >
  <div class="modal-dialog modal-login">
    <div class="modal-content">
      <div class="modal-header">
        
        <!-- 
        <h4 class="title" id="defaultModalLabel">Datos del Paciente</h4>
      -->
      </div>
      <div class="modal-body">
        <div class="container text-center">
         
       
        <div class="row">
          <div class="col ">
              <p class="font-weight-bold">Paciente: 
                  <span class="font-weight-normal">{{solicitud.paciente.nombres}}</span>
              </p>
          </div>
      </div>
    
        
    <div class="row">
      <div class="col ">
          <p class="font-weight-bold">Institucion: 
              <span class="font-weight-normal">{{solicitud.institucion.nombre}}</span>
          </p>
      </div>
  </div>
      
  <div class="row">
    <div class="col ">
        <p class="font-weight-bold">Doctor solicitante: 
            <span class="font-weight-normal">{{solicitud.doctor_solicitante.nombre}} {{solicitud.doctor_solicitante.ap}} {{solicitud.doctor_solicitante.am}}</span>
        </p>
    </div>
</div>
    
<div class="row">
  <div class="col ">
      <p class="font-weight-bold">Fecha: 
          <span class="font-weight-normal" >{{solicitud.fecha  | date: 'dd-MM-yyyy'}}</span>
      </p>
  </div>
</div>
<div class="row">
  <div class="col ">
      <p class="font-weight-bold">Fecha de entrega:  
          <span class="font-weight-normal" >{{solicitud.fecha_entrega  | date: 'dd-MM-yyyy'}}</span>
      </p>
  </div>
</div>


<div class="row" >
  <div class="col ">
      <p class="font-weight-bold">Estado: 
          <span class="font-weight-normal" >{{solicitud.estado_solicitud}}</span>
      </p>
  </div>
</div>
<div class="row" style="display:none">
  <div class="col ">
      <p class="font-weight-bold">Resultados: 
          <span class="font-weight-normal" >{{solicitud.estado}}</span>
      </p>
  </div>
</div>

<div class="row">
  <div class="col-md-6 "style="padding: 0px;">
      <p class="font-weight-bold">Examenes: 
          <span class="font-weight-normal" >
            <div *ngFor="let e of solicitud.examenes_solicitados" >{{e.precio_examen.examen.nombre}} </div>
          
        </span>
      </p>
  </div>
  <div class="col-md-3 " style="padding: 0px;">
    <p class="font-weight-bold">Resultados: 
        <span class="font-weight-normal" >
          <div *ngFor="let e of solicitud.examenes_solicitados"  >{{e.estado}}</div>
        
      </span>
    </p>
</div>
<div class="col-md-3 " style="padding: 0px;">
  <p class="font-weight-bold">Fecha: 
      <span class="font-weight-normal" >
        <div *ngFor="let e of solicitud.examenes_solicitados"  >{{e.fecha | date: 'dd-MM-yyyy'}}</div>
      
    </span>
  </p>
</div>
</div>



</div>
       </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger btn-round waves-effect" data-dismiss="modal">CERRAR</button>
       
      </div>
    </div>

    
  </div>
</div>